* {
	box-sizing: border-box;
	font-family: poppins;
	margin: 0px;
	padding: 0px;
	/* font-size:93.75%; */
}

body {
	margin: 0px auto;
	overflow-x: hidden;
	/* background:red; */
	min-width: 375px;
	max-width: 1440px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
