* {
	box-sizing: border-box;
	font-family: poppins;
	margin: 0px;
	padding: 0px;
	/* font-size:93.75%; */
}

body {
	margin: 0px auto;
	min-width: 375px;
	max-width: 1440px;
	font-family: 'Poppins';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
